<!-- templates/registartion/login.html -->

{% extends '_base.html' %}

{% load crispy_forms_tags %}



{% block title %}Login{% endblock title %}



{% block content %}

<h2>Login</h2>

<form method="POST">

    {% csrf_token %}

    {{ form|crispy }}

    <button class="btn btn-success" type="submit">Log In</button>

</form>

{% endblock content %}