<!-- templates/signup.html -->

{% extends '_base.html' %}

{% load crispy_forms_tags %}


{% block title %}Signup{% endblock title%}


{% block content %}

<h2>Signup</h2>

<form method="POST">

    {% csrf_token %}

    {{ form|crispy }}

    <button class="btn btn-success" type="submit">Sign Up</button>

</form>


{% endblock content %}