<!--templates/products/product_list.html-->

{% extends '_base.html' %}

{% block title %}Products{% endblock title %}

{% block content %}
   
    {% for product in product_list %}
        
        <div>

            <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>

        </div>

    {% endfor %}

{% endblock content %}
