<!-- templates/products/product_detail.html -->

{% extends '_base.html' %}

{% block title %}
    
    {{ product.title }}

{% endblock title %}

{% block content %}
    
    <div class="product-detail">
        <h2><a href="">{{ product.title }}</a></h2>
        <p>Owner: {{ product.owner }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Contact: {{ product.contactInfo }}</p>

    </div>
{% endblock content %}
